/* header{
  background: #fff;
  padding: 0;
  border-bottom: 1px solid #e72929;
} */
/* a{
  color: #af1313;
}
a:hover{
  background: #e72929;
  color: #fff;
}

.container{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
a.logo{
  font-weight: bold;
  padding: 1em;
}
nav ul{
  list-style-type: none;
  margin: 0;
}
nav ul li a{
  padding: 1em;
  display: inline-block;
} */
header {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff5252; /* Red background color */
  padding: 20px;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: #fff; /* White text color */
  text-decoration: none;
  font-weight: 700; 
}

.logo:hover {
  color: #ff9252/* Adjust the hover color to your preference */
}


nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #fff; /* White text color */
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  transition: color 0.3s ease;
  transform: scale(1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
  opacity: 1;
  transform: scale(1.1);
  color: #ff9252; 
  
}

